language: c

cache:
    directories:
        - nim

install:
    - export CHOOSENIM_NO_ANALYTICS=1
    - curl https://nim-lang.org/choosenim/init.sh -sSf > init.sh
    - sh init.sh -y
    - export PATH=~/.nimble/bin:$PATH
    - echo "export PATH=~/.nimble/bin:$PATH" >> ~/.profile
    - choosenim stable

script:
    - nimble test
